@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<div class="row align",style="align-items:center">
    <div class="col-md-4">
        @*<blockquote >*@
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        @*</blockquote>*@
    </div>
    <div class="col-md-8">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Jxrx3Y16dsA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
        
    </div>
</div>